.page-title{
    font-weight:900;
    color:#f57c00;
    margin-bottom:30px;
}

.request-box{
    background:white;
    border-radius:20px;
    padding:25px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.status-badge{
    background:#6CC04A;
    color:white;
    padding:5px 10px;
    border-radius:20px;
}
.detail-header{

    background:#111111;

    color:white;

    padding:30px;

    border-radius:20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.detail-card{

    background:white;

    padding:25px;

    border-radius:20px;

    margin-bottom:25px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.detail-card h3{

    color:#F57C00;

    font-weight:700;

}

.status-badge{

    background:#6CC04A;

    color:white;

    padding:10px 18px;

    border-radius:30px;

    font-weight:bold;

}

.shopping-list-box{

    background:#f8f8f8;

    border-left:5px solid #F57C00;

    padding:15px;

    border-radius:10px;

    margin-bottom:15px;

}

.shopping-list-box pre{

    margin:0;

    white-space:pre-wrap;

}

.timeline-list{

    list-style:none;

    padding:0;

}

.timeline-list li{

    background:#f8f8f8;

    margin-bottom:10px;

    padding:15px;

    border-left:5px solid #6CC04A;

    border-radius:10px;

}

.btn-orange{

    background:#F57C00;

    color:white;

    border:none;

}

.btn-orange:hover{

    background:#d86d00;

    color:white;

}